In [1]:
import pandas as pd
import json

In [113]:
with open('cvs.json', 'r') as f:
    data = json.load(f)

In [114]:
rows = []

In [115]:
for obj in data:
    # Extract the relevant data from the object
    name = obj['participant']['name']
    title1 = obj['internshipRoles'][0]['title']
    title2 = obj['internshipRoles'][1]['title'] if len(
        obj['internshipRoles']) > 1 else None
    title3 = obj['internshipRoles'][2]['title'] if len(
        obj['internshipRoles']) > 2 else None
    educational_backgrounds = obj['participant']['curriculumVitae']['educationalBackgrounds']
    organizational_experience = obj['participant']['curriculumVitae']['organizationExperiences']
    work_experiences = obj['participant']['curriculumVitae']['workExperiences']
    skill = obj['participant']['curriculumVitae']['skill']
    final_task = obj['participant']['curriculumVitae']['finalTask']
    achievement = obj['participant']['curriculumVitae']['achievements']

    # Create a new row with the extracted data
    row = {
        'Name': name,
        'Role 1': title1,
        'Role 2': title2,
        'Role 3': title3,
        'Riwayat Pendidikan': educational_backgrounds,
        'Pengalaman Organisasi': organizational_experience,
        'Pengalaman Bekerja': work_experiences,
        'Skill': skill,
        'Tugas Akhir': final_task,
        'Prestasi': achievement
    }

    rows.append(row)

In [116]:
df = pd.DataFrame(rows)
df

,Name,Role 1,Role 2,Role 3,Riwayat Pendidikan,Pengalaman Organisasi,Pengalaman Bekerja,Skill,Tugas Akhir,Prestasi
0,I Putu Dharma Yudha,Researcher,None,None,"[{'educationLevel': 'S1', 'institutionName': '...","[{'category': 'Penalaran & Keilmuan', 'organiz...","[{'type': 'Paruh Waktu/Part Time', 'companyNam...","{'hardSkillCategory': ['Research', 'Marketing'...","{'title': '-', 'status': '-', 'desc': '-'}","[{'type': 'Lainnya', 'category': 'Non Akademik..."
1,Feisal Abdurrahman,Developer,None,None,"[{'educationLevel': 'D3', 'institutionName': '...","[{'category': 'Lainnya', 'organizationName': '...",[],{'hardSkillCategory': ['Software Development']...,{'title': 'Pengembangan Situs Web Donasi Terum...,"[{'type': 'Teknologi', 'category': 'Akademik',..."
2,Ribka Yosephine,Engineer,General,Developer,"[{'educationLevel': 'SMA/MA/SMK/MAK', 'institu...","[{'category': 'Himpunan Kemahasiswaan', 'organ...","[{'type': 'Magang', 'companyName': 'Pt. Telkom...","{'hardSkillCategory': ['Communication', 'Resea...",{'title': 'MODEL DAN TINGKAT RESILIENSI GRID 1...,[]
3,SALSABILA ZAHIRAH PRANIDA,Data Scientist,None,None,"[{'educationLevel': 'S1', 'institutionName': '...","[{'category': 'Himpunan Kemahasiswaan', 'organ...","[{'type': 'Magang', 'companyName': 'PT. BOTIKA...","{'hardSkillCategory': ['Data Analysis', 'Data ...","{'title': '', 'status': '', 'desc': ''}",[]
4,Adhitya Gustiana Maulidan,General,Data Scientist,None,"[{'educationLevel': 'S1', 'institutionName': '...","[{'category': 'Himpunan Kemahasiswaan', 'organ...",[],"{'hardSkillCategory': ['Communication', 'Data ...","{'title': '', 'status': '', 'desc': ''}","[{'type': 'Kerohanian', 'category': 'Non Akade..."
5,Givari Fairus Ferdiansyah Deu,Marketing,General,Developer,"[{'educationLevel': 'S1', 'institutionName': '...","[{'category': 'Himpunan Kemahasiswaan', 'organ...","[{'type': 'Magang', 'companyName': 'PT. PLN (P...","{'hardSkillCategory': ['Communication', 'Compu...",{'title': 'Implementasi Metode Finite State Au...,[]
6,Astiningsih Novitasari Triastutik,Marketing,General,None,"[{'educationLevel': 'S1', 'institutionName': '...","[{'category': 'Lainnya', 'organizationName': '...",[],"{'hardSkillCategory': ['Communication', 'Marke...",{'title': 'Ekspansi Start-Up Gojek di Thailand...,[]
7,Marsha Nabilah Wibowo,Data Scientist,Developer,None,"[{'educationLevel': 'S1', 'institutionName': '...","[{'category': 'Himpunan Kemahasiswaan', 'organ...","[{'type': 'Magang', 'companyName': 'Bank Indon...","{'hardSkillCategory': ['Software Development',...","{'title': '', 'status': '', 'desc': ''}",[]
8,ANNISA AZRIAN PERMATASARI,General,Designer,None,"[{'educationLevel': 'D4', 'institutionName': '...","[{'category': 'Media, Komunikasi, dan Sosial P...",[],"{'hardSkillCategory': ['Design', 'Communicatio...","{'title': '', 'status': '', 'desc': ''}",[]
9,Naufal Hanif Ramadhan,Designer,None,None,"[{'educationLevel': 'S1', 'institutionName': '...","[{'category': 'Penalaran & Keilmuan', 'organiz...",[],"{'hardSkillCategory': ['Design', 'Communicatio...","{'title': '', 'status': '', 'desc': ''}","[{'type': 'Teknologi', 'category': 'Akademik',..."

In [117]:
df = df.astype(str)

In [119]:
X = df.drop(columns=['Name', 'Role 1', 'Role 2', 'Role 3'])
y = df[['Name', 'Role 1', 'Role 2', 'Role 3']]

## Test with Model

In [120]:
import joblib

In [121]:
clf = joblib.load('cv-model.pkl')
vectorizer = joblib.load('tfidf_vectorizer.pkl')

In [122]:
data = vectorizer.transform(X.apply(lambda x: ' '.join(x), axis=1))

In [123]:
prediction = clf.predict(data)
pred_score = clf.predict_proba(data)

In [124]:
df_score = pd.DataFrame(pred_score, columns=[
                        'Data Scientist', 'Designer', 'Developer', 'Engineer', 'General', 'Marketing', 'Researcher'])
df_pred = pd.DataFrame(prediction, columns=['Prediction'])

In [125]:
label_map = {0: 'Data Scientist', 1: 'Designer', 2: 'Developer',
             3: 'Engineer', 4: 'General', 5: 'Marketing', 6: 'Researcher'}
df_pred['Prediction'] = df_pred['Prediction'].map(label_map)

In [126]:
df_final = pd.concat([y, df_pred, df_score], axis=1)

In [127]:
df_final

,Name,Role 1,Role 2,Role 3,Prediction,Data Scientist,Designer,Developer,Engineer,General,Marketing,Researcher
0,I Putu Dharma Yudha,Researcher,None,None,General,0.015909,0.009654,0.038686,0.024823,0.663490,0.031850,0.215588
1,Feisal Abdurrahman,Developer,None,None,Developer,0.001193,0.001666,0.987489,0.001691,0.003731,0.002679,0.001551
2,Ribka Yosephine,Engineer,General,Developer,General,0.056184,0.034115,0.147904,0.306194,0.214821,0.025923,0.214859
3,SALSABILA ZAHIRAH PRANIDA,Data Scientist,None,None,Data Scientist,0.730403,0.005930,0.119683,0.023085,0.049320,0.011217,0.060361
4,Adhitya Gustiana Maulidan,General,Data Scientist,None,General,0.145803,0.012780,0.089935,0.012339,0.634115,0.034077,0.070952
5,Givari Fairus Ferdiansyah Deu,Marketing,General,Developer,General,0.056536,0.057801,0.225714,0.025880,0.569444,0.035262,0.029364
6,Astiningsih Novitasari Triastutik,Marketing,General,None,General,0.002922,0.002026,0.001951,0.002001,0.907185,0.056313,0.027602
7,Marsha Nabilah Wibowo,Data Scientist,Developer,None,Developer,0.532174,0.006036,0.396868,0.015398,0.013155,0.003703,0.032666
8,ANNISA AZRIAN PERMATASARI,General,Designer,None,General,0.004661,0.145933,0.007690,0.010838,0.656668,0.159016,0.015193
9,Naufal Hanif Ramadhan,Designer,None,None,Researcher,0.030923,0.176955,0.123083,0.075138,0.106418,0.029085,0.458398

In [128]:
df_final.to_excel('result.xlsx', index=False)

In [ ]:
df.to_excel('data.xlsx', index=False)